body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
}

#dynamic-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  background-color: #6dffee;
}
.card:active {
  background-color: #27cdba;
}

.card img {
  max-width: 47%;
  height: auto;
}

.card-title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

input[type="text"] {
  padding: 16px;
  width: 80%;
  margin-top: 10px;
  border: 1px solid #2ed8c3;
  border-radius: 5px;
  font-size: 18px;
}
input[type="email"] {
  padding: 16px;
  width: 80%;
  margin-top: 10px;
  border: 1px solid #2ed8c3;
  border-radius: 5px;
  font-size: 18px;
}
input[type="tel"] {
  padding: 16px;
  width: 80%;
  margin-top: 10px;
  border: 1px solid #2ed8c3;
  border-radius: 5px;
  font-size: 18px;
}
.input-container button {
  padding: 10px 20px;
  font-size: 16px;
  color: #000000;
  background-color: #6dffee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.formDivStyle {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formDivStyle h2 {
  color: rgb(92, 6, 140);
}
.formEditStyle {
  width: 100%;
  text-align: center;
}

.formBtn {
  padding: 10px 20px;
  font-size: 16px;
  color: #000000;
  background-color: #6dffee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}
.formBtn:hover {
  background-color: #2ed8c3;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
  width: 80%;
}
input[type="range"] {
  width: 100%;
  margin: 10px 0;
}
#slider-value {
  font-size: 25px;
  font-weight: bold;
}
.slider-container button {
  padding: 10px 20px;
  font-size: 16px;
  color: #000000;
  background-color: #6dffee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.slider-container button:hover {
  background-color: #2ed8c3;
}

.input-container button:hover,
.addressMapBtn:hover {
  background-color: #2ed8c3;
}
.fade-in {
  animation: fadeIn 2.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }
}

@media (max-width: 768px) {
  .dynamic-container {
    flex-direction: column;
    align-items: center;
  }
}
